<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles.css">
</head>

<body>
    <div id="page-container">
        <div class="pf w0 h0" id="center">
            <DIV id="page_1">
                <P class="p0 ft0">FORM 21</P>
                <P class="p1 ft0">{See rules 47(a) and (d)</P>
                <P class="p2 ft0">SALE CERTIFICATE</P>
                <P class="p3 ft1">(To be issued by manufacture/ dealer or officer of Definance Department (In case of
                    military a
                    auctioned vehicle) for presentation along with the application for registration of a motor vehicle.)
                </P>
                <P class="p4 ft0"><SPAN class="ft2">Certified that </SPAN>TANISHQ MOTORS THREE WHEELER E Ricksaw</P>
                <P class="p5 ft2 border">(Brand name of the vehicle)</P>
                <P class="p6 ft0">Has been delivered us to on -<SPAN class="ft2"> ${invoice.date?.toDateString()}
                    </SPAN></P>
                <P class="p7 ft0">Name of the buyer -<SPAN class="ft4">${invoice.buyersName}</SPAN></P>
                <P class="p8 ft4"><SPAN class="ft0">Address </SPAN><SPAN class="ft2">- </SPAN>${invoice.postalCode},
                    ${invoice.streetAddress}, ${invoice.city}, (${invoice.state})</P>
                <P class="p9 ft2 border">The vehicle is held under agreement of Hire purchase/lease/hypothecation with -
                    ${invoice.hirePurchase_Lease_Hypothecation}</P>
                <P class="p10 ft2">The details of the vehicles are given below</P>
                <TABLE cellpadding=0 cellspacing=0 class="t0">
                    <TR>
                        <TD class="tr0 td0">
                            <P class="p11 ft2">1.</P>
                        </TD>
                        <TD class="tr0 td1">
                            <P class="p12 ft2">Class of Vehicle</P>
                        </TD>
                        <TD class="tr0 td2">
                            <P class="p13 ft2">${invoice.items[item].classOfVechile}</P>
                        </TD>
                    </TR>
                    <TR>
                        <TD class="tr1 td0">
                            <P class="p11 ft2">2.</P>
                        </TD>
                        <TD class="tr1 td1">
                            <P class="p12 ft2">Maker’s Name</P>
                        </TD>
                        <TD class="tr1 td2">
                            <P class="p13 ft2">${invoice.items[item].makersName}</P>
                        </TD>
                    </TR>
                    <TR>
                        <TD class="tr1 td0">
                            <P class="p11 ft2">3.</P>
                        </TD>
                        <TD class="tr1 td1">
                            <P class="p12 ft2">Chassis No</P>
                        </TD>
                        <TD class="tr1 td2">
                            <P class="p13 ft2">${invoice.items[item].chassisNo}</P>
                        </TD>
                    </TR>
                    <TR>
                        <TD class="tr2 td0">
                            <P class="p11 ft2">4.</P>
                        </TD>
                        <TD class="tr2 td1">
                            <P class="p12 ft2">(Engine No or Motor no)</P>
                        </TD>
                        <TD class="tr2 td2">
                            <P class="p13 ft2">${invoice.items[item].EngineNumber}</P>
                        </TD>
                    </TR>
                    <TR>
                        <TD class="tr1 td0">
                            <P class="p11 ft2">5.</P>
                        </TD>
                        <TD class="tr1 td1">
                            <P class="p12 ft2">Horse Power or cubic capacity</P>
                        </TD>
                        <TD class="tr1 td2">
                            <P class="p13 ft2">${invoice.items[item].hoursePower}</P>
                        </TD>
                    </TR>
                    <TR>
                        <TD class="tr2 td0">
                            <P class="p11 ft2">6.</P>
                        </TD>
                        <TD class="tr2 td1">
                            <P class="p12 ft2">Fuel Used</P>
                        </TD>
                        <TD class="tr2 td2">
                            <P class="p13 ft2">${invoice.items[item].fuelUsed}</P>
                        </TD>
                    </TR>
                    <TR>
                        <TD class="tr1 td0">
                            <P class="p11 ft2">7.</P>
                        </TD>
                        <TD class="tr1 td1">
                            <P class="p12 ft2">Number of batteries</P>
                        </TD>
                        <TD class="tr1 td2">
                            <P class="p13 ft2">${invoice.items[item].numberOfBatteries}</P>
                        </TD>
                    </TR>
                    <TR>
                        <TD class="tr2 td0">
                            <P class="p11 ft2">8.</P>
                        </TD>
                        <TD class="tr2 td1">
                            <P class="p12 ft2">Month & Year of Manufacture</P>
                        </TD>
                        <TD class="tr2 td2">
                            <P class="p13 ft2">${invoice.items[item].yearOfManufacture}</P>
                        </TD>
                    </TR>
                    <TR>
                        <TD class="tr1 td0">
                            <P class="p11 ft2">9.</P>
                        </TD>
                        <TD class="tr1 td1">
                            <P class="p12 ft2">Seating capacity (Including driver)</P>
                        </TD>
                        <TD class="tr1 td2">
                            <P class="p13 ft2">${invoice.items[item].seatingCapacity}</P>
                        </TD>
                    </TR>
                    <TR>
                        <TD class="tr2 td0">
                            <P class="p11 ft2">10.</P>
                        </TD>
                        <TD class="tr2 td1">
                            <P class="p12 ft2">Unladen Weight</P>
                        </TD>
                        <TD class="tr2 td2">
                            <P class="p13 ft2">${invoice.items[item].unladenWeight}</P>
                        </TD>
                    </TR>
                    <TR>
                        <TD class="tr1 td0">
                            <P class="p11 ft2">11.</P>
                        </TD>
                        <TD colspan=2 class="tr1 td3">
                            <P class="p12 ft2">Maxim axle weight & Number description of type</P>
                        </TD>
                    </TR>
                    <TR>
                        <TD class="tr2 td0">
                            <P class="p11 ft5">&nbsp;</P>
                        </TD>
                        <TD class="tr2 td1">
                            <P class="p14 ft2">(In case of transport vehicles)</P>
                        </TD>
                        <TD class="tr2 td2">
                            <P class="p11 ft5">&nbsp;</P>
                        </TD>
                    </TR>
                    <TR>
                        <TD class="tr1 td0">
                            <P class="p11 ft5">&nbsp;</P>
                        </TD>
                        <TD class="tr1 td1">
                            <P class="p14 ft2">(a) Front Axle</P>
                        </TD>
                        <TD class="tr1 td2">
                            <P class="p13 ft2">${invoice.items[item].maximAxleWeight.frontAxle}</P>
                        </TD>
                    </TR>
                    <TR>
                        <TD class="tr2 td0">
                            <P class="p11 ft5">&nbsp;</P>
                        </TD>
                        <TD class="tr2 td1">
                            <P class="p14 ft2">(b) Rear Axle</P>
                        </TD>
                        <TD class="tr2 td2">
                            <P class="p13 ft2">${invoice.items[item].maximAxleWeight.rearAxle}</P>
                        </TD>
                    </TR>
                    <TR>
                        <TD class="tr1 td0">
                            <P class="p11 ft5">&nbsp;</P>
                        </TD>
                        <TD class="tr1 td1">
                            <P class="p14 ft2">(c) Any other Axle</P>
                        </TD>
                        <TD class="tr1 td2">
                            <P class="p13 ft2">${invoice.items[item].maximAxleWeight.anyOtherAxle}</P>
                        </TD>
                    </TR>
                    <TR>
                        <TD class="tr2 td0">
                            <P class="p11 ft5">&nbsp;</P>
                        </TD>
                        <TD class="tr2 td1">
                            <P class="p14 ft2">(d) Tandem Axle</P>
                        </TD>
                        <TD class="tr2 td2">
                            <P class="p13 ft2">${invoice.items[item].maximAxleWeight.tandemAxle}</P>
                        </TD>
                    </TR>
                    <TR>
                        <TD class="tr1 td0">
                            <P class="p11 ft2">12.</P>
                        </TD>
                        <TD class="tr1 td1">
                            <P class="p12 ft2">Colour or colours of body</P>
                        </TD>
                        <TD class="tr1 td2">
                            <P class="p13 ft2">${invoice.items[item].bodyColor}</P>
                        </TD>
                    </TR>
                    <TR>
                        <TD class="tr1 td0">
                            <P class="p11 ft2">13.</P>
                        </TD>
                        <TD class="tr1 td1">
                            <P class="p12 ft2">Gross vehicle weight</P>
                        </TD>
                        <TD class="tr1 td2">
                            <P class="p13 ft2">${invoice.items[item].grossVehicleWeight}</P>
                        </TD>
                    </TR>
                    <TR>
                        <TD class="tr2 td0">
                            <P class="p11 ft2">14.</P>
                        </TD>
                        <TD class="tr2 td1">
                            <P class="p12 ft2">Type of body</P>
                        </TD>
                        <TD class="tr2 td2">
                            <P class="p13 ft2">${invoice.items[item].typeOfBody}</P>
                        </TD>
                    </TR>
                    <TR>
                        <TD class="tr1 td0">
                            <P class="p11 ft2">15.</P>
                        </TD>
                        <TD class="tr1 td1">
                            <P class="p12 ft2">Bharat stage</P>
                        </TD>
                        <TD class="tr1 td2">
                            <P class="p13 ft2">${invoice.items[item].bharatStage}</P>
                        </TD>
                    </TR>
                    <TR>
                        <TD class="tr2 td0">
                            <P class="p11 ft2">16.</P>
                        </TD>
                        <TD class="tr2 td1">
                            <P class="p12 ft2">Trade certificate Number</P>
                        </TD>
                        <TD class="tr2 td2">
                            <P class="p13 ft2">${invoice.items[item].tradeCertificateNumber}</P>
                        </TD>
                    </TR>
                    <TR>
                        <TD class="tr3 td0">
                            <P class="p11 ft6">17.</P>
                        </TD>
                        <TD class="tr3 td1">
                            <P class="p12 ft6">Tank No</P>
                        </TD>
                        <TD class="tr3 td2">
                            <P class="p13 ft6">${invoice.items[item].tankNumber}</P>
                        </TD>
                    </TR>
                    <TR>
                        <TD class="tr3 td0">
                            <P class="p11 ft6">18.</P>
                        </TD>
                        <TD class="tr3 td1">
                            <P class="p12 ft6">WAPORIZER Numbe</P>
                        </TD>
                        <TD class="tr3 td2">
                            <P class="p13 ft6">${invoice.items[item].waporizerNumber}</P>
                        </TD>
                    </TR>
                </TABLE>
                <TABLE cellpadding=0 cellspacing=0 class="t1">
                    <TR>
                        <TD class="tr5 td4">
                            <P class="p11 ft5">&nbsp;</P>
                        </TD>
                        <TD class="tr5 td5">
                            <P class="p16 ft2">Authorised Signatory</P>
                        </TD>
                    </TR>
                    <TR>
                        <TD class="tr6 td4">
                            <P class="p11 ft5">&nbsp;</P>
                        </TD>
                        <TD class="tr6 td5">
                            <P class="p16 ft2">TANISHQ MOTORS</P>
                        </TD>
                    </TR>
                </TABLE>
            </DIV>
        </div>
    </div>
</body>

</html>
